build
bin
.gradle
gradle
felix-cache
classes
rolling/
.settings
.DS_STORE
.DS_Store
conf/startup.properties
odb.*
logs
.cache*
*.iml
=======
.classpath
.project
.gradle/
.settings/
build/
/bin/
.idea
log/
.log
/account.processor.iml
